
		html {
					background-color:  #0f0851;
				}
		body {
					background-color: #7265db;
					color: #020030;
					width: 80%;
					margin: 20px auto;
					padding: 20px;
					font-family: "BIZ UDMincho Medium", monospace, serif;
				}
				
		img {
					display: block;
					margin: 0px auto;
					width: 100%;
					
			}

				h1, h2 {
					text-align: center;
				}
		nav {
			background-color: #7265db;
			padding: 2px 0;
			text-align: center;
		}

		nav ul {
			padding: 0;
			list-style-type: none;
		}

		nav li {
			display: inline-block;
		}

		nav li a {
			display: block;
			background-color: #7265db;
			width: 200px;
			height: 50px;
			line-height: 50px;
			font-size: 1.4em;
			font-weight: bold;
			color: #c9a4ff;
			text-decoration: none;
			border: 10px outset #937dff;
			margin: 0 10px;

		}

		nav li a:hover {
			color: #00de39

		}

		main {
			display: flex;
		}

		#container {
			max-width: 100%;
			margin: 20px auto;
			border: 4px outset #3b32b5;
		}
		
		h1,
		h2,
		h3,
		h4 {
			text-align: center
		}

		section,
		aside {
			border: 12px outset #937dff;
			margin: 20px;
			padding:20px;

		}

		section {
			max-width: 100%;
		}

		aside {
			max-width: 30%;
			font-size: 1.4em;
		}

		#lower-area {
			display: flex;
		}
		
		.col {
			border: 10px outset #937dff;
			margin: 20px;
			padding:20px;
		}

		footer {
		display: block;
			background-color: #7265db;
			line-height: 50px;
			font-weight: bold;
			color: #c9a4ff;
			text-align: center;
			border: 10px inset #937dff;
		}

		.single_page {
			max-width: 100%;
		}

		table img {
			max-width: 100%;

		}

		table {
			border: 8px inset #6256bf;

		}

		@media (min-width: 768px) {
			

			nav li a {
			display: inline-block;
			background-color: #7265db;
			width: 200px;
			height: 50px;
			line-height: 50px;
			font-size: 1.4em;
			font-weight: bold;
			color: #c9a4ff;
			text-decoration: none;
			border: 10px outset #937dff;
			margin: 0 10px;

		}
			main {
				display: flex;
			}

			section,
			aside {
				padding: 10px;
				margin: 10px;
				border: 10px outset #937dff;

			}

			section {
				width: 100%;
			}

			aside {
				width: 30%;
				
			}
		}

		.col img {
			width=75%;
		}

		.button {
			margin-left: auto;
			margin-right: auto;
		}

		#lower_area {
			display: flex;
		}

		table img {
			width: 100%;

		}

		

